<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS settings for the fee management front page (GoDaddy Windows / Plesk hosting) -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>
